---
name: {{ name }}
description: {{ description }}
vars:
  - name: "name"
    default: "default_name"
    ask: true
    description: "name of the project"
steps:
  - name: "create a directory"
    directory: ""
    type: "directory"
  - name: "render a template"
    file: "{{name}}/{{name}}.pde"
    type: "template"
    template: "processing_sketch.jinja"
  - name: "run a command"
    command: ""
    type: "sh"

